*{
	margin: 0;
	padding: 0;
}

.all_div{
	text-align: center;
	overflow: hidden;
}

.c_span{
	height: 25px;
	background-color: gray;
	font-size: 15px;
	display: block;
	color: #fff;
	line-height: 25px;
}

.all_div div{
	margin:0 auto;
	width: 200px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.ctr_style{
	height: 25px;
	overflow: hidden;
}

.all_div div a{
	height: 25px;
	width: 200px;
	display: block;
	font-size: 10px;
	background-color: #eee;
	list-style: none;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

.all_div div a:hover{
	background: #066;
	color: #fff;
	text-decoration: none;
}