  
    body{
                margin: 0;
                padding: 0;
                background-color:black ;    
            }

            body button{
                cursor: pointer;
            }

            .screen1{
                position: relative;
            }

            .first{
                -webkit-perspective: 300px;
                perspective: 300px;
                width: 10%;
                height: 10%;
                position: absolute;
                top: 15%;
                left: 6%;
                z-index: 3  
            }
            
            .wrap{
                position: absolute;
                height: 100px;
                width: 100px;
                transform-style:preserve-3d ;
                -webkit-transform-style: preserve-3d;
                -webkit-transform: rotateX(-30deg) rotateY(-30deg);
                -webkit-animation: 5s mov linear infinite ;
            }
            
            
            .wrap > div{
                background: -webkit-linear-gradient(left, rgba(54, 226, 248, 0.5) 0px, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(top, rgba(54, 226, 248, 0.5) 0px, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
                background-color: rgba(200,150,160,0.3);
                height:100%;
                width: 100%;
                border: 1px solid blueviolet;
                -webkit-box-shadow: 0 0 10px rgba(0, 128, 0, 0.4);
                box-shadow: 0 0 10px rgba(0, 128, 0, 0.4);
                position: absolute;
            }

            .font
            {
                -webkit-transform: translateZ(50px);
            }
            
            .back
            {
                -webkit-transform: rotateX(180deg) translateZ(50px);
            }
     
            .left
            {
                -webkit-transform: rotateY(-90deg) translateZ(50px);
            }
     
            .right
            {
                -webkit-transform: rotateY(90deg) translateZ(50px);
            }
     
            .top
            {
                -webkit-transform: rotateX(90deg) translateZ(50px);
            }
     
            .bottom
            {
                -webkit-transform: rotateX(-90deg) translateZ(50px);
            }
            
            @keyframes mov{
                from{-webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(0em);}
                to{-webkit-transform: rotateX(360deg) rotateY(360deg) translateZ(0em);}
            }

            .btn_left{
                position: absolute;
                top: 60%;
                left: 25%;
                z-index: 2;
                animation: 2s btn_1 1;

            }
            
            @keyframes btn_1{
                0%{top:-200px ;}
                60%{left: 0px;}
                100%{top:380px;}
            }

            .btn_left button{
                background-color: #36393e;
                width: 130%;
                padding: 9%;
                font-size: 160%;
                color: #e02809;
                letter-spacing: 10px;
                border-radius: 50%;
                opacity: 0.7;
            }

            .btn_right{
                position: absolute;
                top: 50%;
                right: 19%;
                z-index: 2;
                animation: 1s btn_2 1;
                letter-spacing: 50px;
            }

            @keyframes btn_2{
                0%{right: -400px}
                60%{right: 100px;top: 0px}
                100%{right: 19%;}
            }

            .btn_right button{
                background-color: #36393e;
                width: 75%;
                padding: 3%;
                font-size: 150%;
                color: #e02809;
                margin-top: 10%;
                letter-spacing: 8px;
                border-radius: 50%;
                opacity: 0.5;
            }

            .move {
            /*position: relative; */
            position: absolute;
            margin-top: 41%;
            animation: amove .5s infinite;
            -webkit-animation:amove .5s infinite;
            }
            
            -webkit-@keyframes amove{
                0%{left: 0px;top: 0px;}
                
                100%{left: 83%;top: 0px;}
            }
            
            @keyframes amove{
                0%{left: 0px;top: 0px;}
                
                100%{left: 83%;top: 0px;}
            }
        
            .img1{
                width: 100%;
                height: 100%;
            }    

            .img1 img {
                filter: blur(0px);
                animation: blu 4s 1;
                -webkit-animation: blu 2.5s 1;
            }

            @keyframes blu{
                0%{filter: blur(20px);}
                100%{filter: blur(0px);}
                
               
            }

            .img1_1{
                position: absolute;
                top: 19.5%;
                left:42%;
                -webkit-transform: rotate(360deg);
                animation: rotation .5s linear infinite;
                -webkit-animation: rotation 1.5s linear infinite;
                animation-delay:0.8s;
            }

            .img1_1 img{
                border-radius: 50%;
            }
            
            @-webkit-keyframes rotation{
                from {-webkit-transform: rotate(0deg);}
                to {-webkit-transform: rotate(360deg);}
            }

            .img1_1 :active{
                position: absolute;
                top: 128px;
                left:565px;
            }

            .bg1_left{
                position: absolute;
                left: 230px;
                top: 140px;
            }

            